- content_for :page_title, 'Home'
- content_for :page_header, Settings.school_name + " " + Settings.dept_name
#home-page
	= render partial: 'department/pane', collection: @panes, as: :doc
#editor

:coffeescript
	do_cleanup = ->
		$('#editor').dialog "destroy"
		$('#editor').empty()
		
	do_save = (evt) ->
		form = $('form', '#editor')[0]
		$.ajax
			type: 'PUT'
			url: form.action
			dataType: 'json'
			data: $(form).serialize()
			complete: ->
				do_cleanup()
		
	do_cancel = (evt) ->
		do_cleanup()

	create_dialog = ->
		$('#editor').dialog
			autoOpen: false
			height: 600
			width: 700
			modal: true
			resizable: true
			buttons:
				Save: do_save
				Cancel: do_cancel

	handle_btn_click = (evt) ->
		url = evt.target.href
		$.get url, (data) ->
			$('#editor').append(data)
		create_dialog()
		$('#editor').dialog "open"
		return false
		
	$(document).ready ->
		$("#home-page").accordion
			heightStyle: "content"
		btns = $('.edit-button')
		btns.bind 'click', handle_btn_click
