%li.course
	= render partial: 'shared/course_link', locals: {course: course}
	- if course.sorted_sections.empty?
		%p
			%i Not taught this year
	- else
		%ul.sections
			= render partial: 'menus/csection', collection: course.sorted_sections, as: :section
