%li#sign_in_out
- if user_signed_in?
	= link_to 'Sign out', destroy_user_session_path, method: :delete
- else
	/ = link_to 'Sign in', new_user_session_path, method: :get, remote: true
	%a{href: '#', id: 'sign_in_link'} Sign in

:coffeescript
	$("#sign_in_link").click ->
		$("#sign-in-dialog").dialog('open')
