%li.manage
	%a{href: '#'} Manage
	%ul#manage_menu
		%li= link_to "Browse assignments", section_assignments_path()
		%li= link_to "Upload files", "http://old.westonmath.org/edit/ftp/index.php", {target: "_blank"}
		/ %li= link_to 'Edit account', edit_user_registration_path
