%li.teacher
	%a{href: '#'}= teacher.full_name
	%ul.sections
		= render partial: 'menus/tsection', collection: teacher.sections.current, as: :section
		%br
		%a{href: "mailto: #{teacher.email}", title: "Email"} Send mail
