%li.teacher
	%a{href: '#'}= teacher.menu_label
	%ul.sections
		= render partial: 'menus/tsection', collection: teacher.sections.current, as: :section
		%br
		%a{href: "mailto: #{teacher.email}", title: "Email"} Send mail
