%li.teacher
	%table(width='100%')
		%tr
			%td.teacher-home
				%a.teacher-icon{href: teacher_path(teacher), title: "Home page"} 
					%img{src: image_path("home_407518.png"), width: 32}
			%td
				%b= teacher.full_name
			%td(align='right' width='32')
				%a.teacher-icon{href: "mailto: #{teacher.email}", title: "Email"}
					%img{src: image_path("mail_407518.png"), width: 32}
