%li.teacher
	%table
		%tr
			%td.teacher-home
				%a.teacher-icon{href: teacher_path(teacher), title: "Home page"} 
					%img{src: image_path("home_407518.png")}
			%td.teqcher-name
				%b= teacher.full_name
			%td.teacher-email
				%a.teacher-icon{href: "mailto: #{teacher.email}", title: "Email"}
					%img{src: image_path("mail_407518.png")}
	%hr.teacher-border
