%li.teacher
	%a{href: '#'}= teacher.full_name
	%ul
		%li.teacher-icons
			%a{href: teacher_path(teacher), title: "Home page"}
				%img{src: image_path("home_407518.png")}
			%a{href: "mailto: #{teacher.email}", title: "Email"}
				%img{src: image_path("mail_407518.png")}
