%li#usermenu
	%a#username{href: '#'}= user_signed_in? ? current_user.full_name : "Guest"
	%ul
		%li#sign_in_out
			- if user_signed_in?
				#signout= link_to 'Sign out', destroy_user_session_path, method: (Rails.env.test? ? :get : :delete), id: 'signout'
			- else
				#signin= link_to 'Sign in', new_user_session_path, method: :get, remote: true, id: 'signin'
