/ Begin container
%div.megamenu_container
	%ul#menubar.megamenu		
		%li#home
			%span.nodrop
				%a{href: '/'} Home
		%li#courses
			%span.drop Courses
			%div.megamenu_dropdown
				= render partial: 'menus/courses'
		%li#faculty
			%span.drop Faculty
			%div.megamenu_dropdown
				= render partial: 'menus/faculty'


:coffeescript
	$(document).ready ($) ->
		$(".megamenu").megaMenuReloaded
			menu_speed_show: 300
			menu_speed_hide: 200
			menu_speed_delay: 200
			menu_effect: "hover_fade"
			menu_easing: "jswing"
			menu_click_outside: 1
			menu_show_onload: 0
			menubar_trigger: 1
			menubar_hide: 0
