#new_assignment.ui-widget.ui-corner-all
	.ui-widget-header= "New assignment"
	.ui-widget-content
		= render partial: 'assignments/form', as: :assignment, object: @assignment

:coffeescript
	$(document).ready ->
		$(".save").button
			label: "Create"
		$(".cancel").button
			label: "Cancel"
