.sans {
	font-family: 'Oxygen', Arial, sans-serif;
	font-weight: normal;
}

.serif {
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: normal;
}

.code {
	font-family: Lekton, Courier, sans-serif;
	font-weight: normal;
}

.friendly {
	font-family: "Schoolbell", "Comic Sans", sans-serif;
	font-weight: normal;
}
