@import "colors";
@import "fonts";

body {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0; 
	font-size: 13px;
	font-weight: normal;
	p {
		font-size: 1em;
	}
	a {
		color: $weston-red;
		text-decoration: none;
		font-weight: normal;
	}
	background-color: white;
}

td {
	vertical-align: top;
}

#page_header {
	@extend .sans;
	background: $weston-red;
	color: white;
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
	top: 0px;
	left:0;
	width: 100%;
	padding: 16px;
	padding-left: 16px;
	text-shadow: hsla($weston-hue, 70, 80, .8) 1px 1px;
	a {
		background: $weston-red;
		color: white;
		&:hover{
			color: $weston-red-hover;	
		}
	}
}

div#main {
	.content-header {
		@extend .sans;
		font-size: 140%;
		padding: 8px;
		padding-left: 16px;
	}
	.content {
		position: relative;
		padding: 8px;
		label {
			@extend .sans;			
			font-weight: bold;
		}
//		p {
//			@extend .serif;
//		}
//		h1,h2,h3,h4,h5 {
//			@extend sans;
//		}
//		h1 {
//			font-size: 160%;
//		}
//		h2 {
//			font-size: 140%;
//		}
//		li {
//			@extend .serif;
//			padding-bottom: 6px;
//			}
		th {
			font-weight: bold;
			@extend .sans;
		}
	}
}

.hidden {
	visibility: hidden;
}

.nodisplay, .no-display {
	display: none;
}

.block-display {
	display: block;
}