@import "colors";
@import "fonts";

.asst-content {
	@extend .serif;
	h1, h2, h3, h4, h5 {
		@extend .sans;
	}
}

.assignment {
	vertical-align: top;
	td.name {
		text-align: right;
		font-size: 85%;
	}
	td.due_date {
		font-size: 90%;
	}
	td.asst-content {
		ul {
			margin-top: 2px;
		}
		li {
			padding-bottom: 4px;
		}
		font-size: 100%;
		line-height: 130%;
	}
	img {
		border-width: 1;
		border-color: $dark-blue;
		border-style: solid;
		margin: 2px;
	}
}

#new_assignment {
	background: white;
	fieldset#top {
	}
	fieldset#bottom {
	}
	table {
		padding: 2px;
		border: 1px solid $dark-blue;
	}
	thead {
		padding: 2px;
		background-color: $dark-blue;
		color: white;
	}
	.block {
		width: 20%;
	}
	.td {
		vertical-align: top;
	}
}
