@import "colors";
@import "fonts";

.asst-content {
	@extend .serif;
	h1, h2, h3, h4, h5 {
		@extend .sans;
	}
}

.assignment {
	vertical-align: top;
	td.name {
		text-align: right;
		font-size: 85%;
	}
	td.due_date {
		font-size: 90%;
	}
	td.asst-content {
		ul {
			margin-top: 2px;
		}
		li {
			padding-bottom: 4px;
		}
		font-size: 100%;
		line-height: 130%;
	}
	img {
		border-width: 1;
		border-color: $dark-blue;
		border-style: solid;
		margin: 2px;
	}
}

//#assignments { 
//	font-size: 90%;
//	.due_date {
//	}
//}
//
//.assignment-set {
//	tr td.name {
//		text-align: right;
//	}
//}
//
