@import "colors";
@import "fonts";

.asst-content {
	@extend .serif;
	h1, h2, h3, h4, h5 {
		@extend .sans;
	}
}

.assignment {
	td.name {
		text-align: right;
	}
	td.due_date {
		
	}
	td.asst-content {
		ul {
			margin-top: 2px;
		}
		font-size: 110%;
		line-height: 110%;
	}
}


//#assignments { 
//	font-size: 90%;
//	.due_date {
//	}
//}
//
//.assignment-set {
//	tr td.name {
//		text-align: right;
//	}
//}
//
