@import "colors";
@import "fonts";

.asst-content {
	@extend .serif;
	h1, h2, h3, h4, h5 {
		@extend .sans;
	}
}

.asst-content, .assignment, #asst-browser {
	vertical-align: top;
	td.name {
		text-align: right;
		font-size: 100%;
	}
	td.due_date {
		font-size: 100%;
	}
	td.asst-content {
		padding-top: 0;
		ul, ol {
			padding-left: 16px;
		}
		li {
			padding-bottom: 4px;
		}
		p:first-child, ul:first-child, ol:first-child {
			margin-top: 0;
		}
		p+ul, p+ol, br+ul, br+ol {
			padding-left: 40px;
		}
		font-size: 110%;
		line-height: 130%;
	}
	img {
		border-width: 1;
		border-color: white;
		border-style: solid;
		margin: 2px;
	}
}

#new_assignment {
	background: white;
	fieldset#top {
	}
	fieldset#bottom {
	}
	table {
		padding: 2px;
		border: 1px solid $dark-blue;
	}
	thead {
		padding: 2px;
		background-color: $dark-blue;
		color: white;
	}
	.block {
		width: 20%;
	}
	.td {
		vertical-align: top;
	}
}
