$weston-hue: 334;

$weston-red: hsl($weston-hue, 79, 30);
$weston-red-text: white;
$weston-red-hover: hsl(57, 87, 84);

$purple-hue: 268;
$dark-purple: hsl($purple-hue, 79, 55);
$medium-purple: hsl($purple-hue, 79, 65);
$light-purple: hsl($purple-hue, 79, 75);

$brown-hue: 33;
$dark-brown: hsl($brown-hue, 87, 50);
$medium-brown: hsl($brown-hue, 87, 60);
$light-brown: hsl($brown-hue, 87, 70);

$blue-hue: 209;
$dark-blue: hsl($blue-hue, 79, 55);
$medium-blue: hsl($blue-hue, 79, 80);
$pale-blue: hsl($blue-hue, 12, 93);

$green-hue: 84;
$dark-green: hsl($green-hue, 79, 45);
$medium-green: hsl($green-hue, 79, 60);
$light-green: hsl($green-hue, 20, 80);

