// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'fonts';

#sections_pane {
	@extend .serif;

	#info {
		text-align: center;
		font-weight: bold;
		font-size: 110%;
		.text {
			border-top: solid #111 1px;
			border-bottom: solid #111 1px;
		}
		margin-bottom: 12px;
	}
	#description {
		margin-bottom: 12px;
	}
	#leadin {
		margin-bottom: 0px;
	}
}

.tabs ul li a {
	@extend .sans;
}

.block {
	text-align: center;
}

.room {
	text-align: right;
}