@import url(stylesheet-path("fonts"));
@import "colors";
@import "fonts";

body {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0; 
	font-size: 14px;
	p {
		font-size: .8em;
	}

	a {
		color: hsl(374, 79, 30);
		text-decoration: none;
	}
	background-color: white;
}

#page_header {
	@extend .sans;
	background: $weston-red;
	color: white;
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
	top: 0px;
	left:0;
	width: 100%;
	padding: 16px;
	padding-left: 16px;
	a {
		background: $weston-red;
		color: white;
		&:hover{
			color: $weston-red-hover;	
		}
	}
}

#menubar-holder {
	@extend .sans;
	font-size: 0.8em;
	display: block;
	width: 15em;
	margin: 0px;
	float: left;
	position: relative;
}

div#main {
	.content-header {
		@extend .sans;
		font-size: 140%;
		font-weight: bold;
		padding: 8px;
		padding-left: 16px;
	}
	.content {
		@extend .serif;
		padding: 8px;
	}
}