// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "fonts";
@import "colors";

#home-page {
	@extend .sans;

	.pane-content {
		p {
			@extend .serif;
			font-size: 100%;
		}
		li {
			@extend .sans;
		}
		a {
			color: $weston-red;
		}
		background: #FFFFFF;
	}
	h3 {
		font-weight: bold;
	}
}
