@import '_colors';

#faculty_menu, #courses_menu {
	border-color: $weston-red;
	.row {
		ul.sections, hr {
			border-width: 1px;
			border-color: $weston-red;
			border-style: dotted;
		}
		hr {
			width: 75%;
		}
	}
}
