// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'fonts';

#generic-msg {
	font-size: 120%;
	border-width: 1px;
	border-color: black;
	border-style: dotted;
	background: #efefef;
	padding: 8px;
	margin-bottom: 16px;
}

$title-width: 11em;

.title {
	@extend .sans;
	font-size: 110%;
	color: white;
	background: #6d9e21 url(image-path('ui-bg_gloss-wave_50_6eac2c_500x100.png')) 20% 20% repeat-x;
	width: $title-width;
	padding: 8px;
}

.assignment-block {
	.none {
		font-size: 100%;
		padding-left: 16px;
		margin-bottom: 16px;
		background-color: #E2E4FF;
		width: $title-width*1.12;
	}
}