// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'fonts';

$shadow: 1px 1px 1px 1px $dark-brown;

#generic-msg, .message {
	font-size: 110%;
	p {
//		border-width: 1px;
//		border-color: $dark-brown;
//		border-style: solid;
	}
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow:  $shadow;
	background: $pale-brown;
	color: $dark-brown;
	background: $pale-brown;
	padding: 8px;
	margin-top: 8px;
	margin-bottom: 12px;
	@extend .friendly;
	font-size: 100%;
}

$title-width: 12em;

.assignment-block {
	div.ui-widget-header {
		-moz-border-radius-topleft: 0px;
		-webkit-border-top-left-radius: 0px;
		-khtml-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	.title {
		@extend .sans;
		@extend .ui-corner-top !optional;
		font-size: 100%;
		color: white;
		background-color: $weston-red;
		width: $title-width;
		padding: 8px;
		font-weight: bold;
	}
	.no-assignment {
		font-size: 100%;
		padding-left: 16px;
		padding-bottom: 8px;
		margin-bottom: 16px;
		background-color: #E2E4FF;
		width: $title-width;
	}
	margin-bottom: 18px;
}

#tabs {
	.past {
	margin-bottom: 0px;
	}
}
