// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'fonts';

#asst-browser {
	background: #ddd;
	padding: 8px;
	padding-bottom: 24px;
	margin-bottom: 16px;
}