@import url(stylesheet-path('fonts'));
@import url(stylesheet-path('colors'));

.hmenu {
	.mhmenu-hdr {
		vertical-align: bottom;		
	}
	a.course-name, a.teacher {
		text-align: center;
	}
	li {
		&#username {
    float: right;
		}
		.submenu {
			background-color: hsla(0, 0, 50, 0.5);
			border-right-color: hsla(0, 10, 50, 0.5);
			border-bottom-color: hsla(0, 10, 50, 0.5);
		}
		.submenu.mega .sub {
			background-color: hsla(0,0,90,0);
		}
		.sub li.hmenu-hdr {
			a.hmenu-hdr-a {
				padding: 5px;
				height: 100%;
				text-align: center;
			}
		}
	}
}
