%tr.assignment{id: section_assignment.assignment.name}
	%td.name
		= section_assignment.assignment.name
	%td.due_date
		= assignment_date_string(section_assignment.due_date)
	%td.content
		= section_assignment.assignment.content
