%h1 Listing teacher_assignments

%table
  %tr
    %th
    %th
    %th

  - @assignments.each do |teacher_assignment|
    %tr
      %td= link_to 'Show', teacher_assignment
      %td= link_to 'Edit', edit_teacher_assignment_path(teacher_assignment)
      %td= link_to 'Destroy', teacher_assignment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Assignment', new_teacher_assignment_path
