= simple_form_for @document do |f|
	.form-inputs
		= f.input :content, as: :ckeditor, input_html: { height: 400, toolbar: "Full" }, label: false
	.form-actions
		%button{class: ['ui-button ui-button-text-only', 'ui-state-default', 'ui-widget', 'ui-corner-all'] }
			= f.button :submit
		%button{class: ['ui-button ui-button-text-only', 'ui-widget', 'ui-corner-all'] }
			= f.button :submit, type: :reset, value: 'Cancel'

