- content_for :page_title, 'Home'
- content_for :page_header, Settings.school_name + " " + Settings.dept_name
#home-page
	= render partial: 'departments/pane', collection: @panes
#editor

:coffeescript
	$(document).ready ->
		# Set up accordion
		$("#home-page").accordion
			heightStyle: "content"

		editor = $("#editor")
		editor.setupAccordionEditor = (accDiv) ->
			div = this
			div.dialogForm "init",
				width: 700
				height: 600
				ckid: 'department_document_content'
	
			div.dialogForm 'bindLinks', $('.edit-button')
			div.on 'savedAndClosed', ->
				pn = accDiv.accordion "option", "active"
				$.get "/departments/1/pane/" + pn, (data, textStatus, jqxhr) ->
					title = $('.ui-accordion-header-active', accDiv).find('.title')
					content = $('.ui-accordion-content-active', accDiv).find('.contents')
					$(title).text data.title
					$(content).html data.content
				, 'json'
				accDiv.accordion "refresh"

		editor.setupAccordionEditor $("#home-page")
		