- content_for :page_title, 'Home'
- content_for :page_header, Settings.school + " " + Settings.department
#home-page
	= render partial: 'departments/pane', collection: @panes
#editor

:coffeescript
	$(document).ready ->
		# Set up accordion
		$("#home-page").accordion
			heightStyle: "content"

		editor = $("#editor")
		editor.setupAccordionEditor = (accDiv) ->
			this.dialogForm 'init'
				width: 700
				height: 600
				ckid: 'department_document_content'
			
			this.on 'savedAndClosed', ->
				pn = accDiv.accordion "option", "active"
				$.get "/departments/1/pane/" + pn, (data, textStatus, jqxhr) ->
					title = $('.ui-accordion-header-active', accDiv).find('.title')
					content = $('.ui-accordion-content-active', accDiv).find('.contents')
					$(title).text data.title
					$(content).html data.content
				, 'json'
				accDiv.accordion "refresh"

		$('.edit-button').on 'click', -> editor.setupAccordionEditor $("#home-page")
		