- content_for :page_title, 'Home'
- content_for :page_header, Settings.school_name + " " + Settings.dept_name
#home-page
	= render partial: 'departments/pane', collection: @panes, as: :doc
#editor

:coffeescript
	$(document).ready ->
		# Set up accordion
		$("#home-page").accordion
			heightStyle: "content"
		btns = $('.edit-button')

		$('#editor').dialogForm "init",
			width: 700
			height: 600
			ckid: 'text_document_content'
	
		$('#editor').dialogForm 'bindLinks', $('.edit-button')
		$(btns).button
			icons:
				primary: 'ui-icon-pencil'
			text: false
		