%h2 How to Use the New Westonmath App
%p
	This app is your source of information for math courses at Weston High School.
	The tab right below this one lists some of its features, but here’s enough to get you started:
	%ul
		%li
			This page is called
			%b Home.
			You can get to it through the
			%b Home
			menu, which is always the first one at the top of every page.
			%br/
			%br/
		%li
			To find information about a particular course,
			click on the
			%b Courses
			menu.
			You will see a list of all our courses and their sections, listed by teacher and block number.
			Click on any course to read basic information about it, including the course description and a list of sections,
			each with its teacher, block, and room number.
			Click on any column header to sort by that column.
			Click again to reverse the sort.
			Click on a section’s block to see assignments for that section.
			%br/
			%br/
		%li
			Course pages also have tabs along the top (below the three standard Westonmath menus).
			You can click on any tab to read about the course information,
			resources, policies, and news.
			%br/
			%br/
		%li
			You can also get to any section’s assignments
			by clicking on the section in the
			%b Courses
			menu.
			The current assignment is always listed first, followed by any upcoming assignments that have already been posted, followed by all past assignments.
			You can choose whether to display 2, 5, 10, or all past assignments.
			%br/
			%br/
		%li
			The third menu lists all the
			%b Faculty
			in our Department.
			Clicking on the icon to the left of a name takes you to that teacher’s home page,
			which includes a list of the courses s/he is currrently teaching.
			Clicking on the icon to the right opens up your favorite email program,
			with a new message addressed to that teacher.
			If you are using a machine that doesn’t have an identified email client,
			this option will not work.
			%br/
			%br/
		%li
			The
			%b Home
			page also contains some general information about the Math Department, such as resources, news, and a puzzle that is often (well...occasionally) updated.
			Check out the tabs in the accordion!
			%br/
			%br/
		%li
			If you spot any bugs, send email to
			%a{href: "mailto:davidsonl@weston.org"} Mr. Davidson
			(DavidsonL@weston.org).
