%table{id: @table_id}
	- if @caption
		%caption= @caption
	%thead
		%tr
			%th #
			%th Date due
			%th Assignment
	%tbody
		= render partial: 'assignment_row', collection: assignments, as: 'assignment'
