- if sa.assignment
	%tr.assignment
		%td.name= sa.name
		%td.due_date= assignment_date_string(sa.due_date)
		%td.asst-content!= sa.assignment ? sa.assignment.content : 'Something is wrong with this assignment. Please let Mr. Davidson know.'
		- if user_signed_in?
			%td
				= "Edit"
