.assignment-block
	%div.message!= message
	.title.ui-corner-top= title
	- if sas.size > 0
		%table.assignment-set{id: table_id}
			= render partial: 'sections/assignment_table', locals: { sas: sas }
	- else
		.none
			%i None
