%thead
	%tr
		%th.name #
		%th.due_date Date due
		%th.content Assignment
		- if user_signed_in?
			%th.actions Actions
%tbody
	= render partial: 'sections/assignment_row', collection: sas, as: 'sa'

