%div#assignments
	%div#header= assignments_header(@section)
	%h3= @section.teacher.general_leadin

	%h3= @section.teacher.current_leadin
	%h2 Current assignment
	/ = render_cell :assignment_table, :display, [@current_assignment], @section.teacher.current_leadin
	/ 
	/ %h2 Upcoming assignments
	/ = render_cell :assignment_table, :display, @upcoming_assignments
	/ 
	/ %h2 Past assignments
	/ = render_cell :assignment_table, :display, @past_assignments
	
- content_for :page_header do
	= @section.course.full_name
