.hmenu {
	font-family: 'PT Sans', Verdana, sans-serif;
	li.section {
		font-family: 'PT Sans Narrow', Verdana, sans-serif;
	}
	.mhmenu-hdr {
		vertical-align: bottom;		
	}
	a.course-name {
		vertical-align: bottom;
		text-align: center;
	}
}

