%tr
	%td.teacher
		%a{href: teacher_path(section.teacher)}= section.teacher.formal_name
	%td.block
		%a{href: section_path(section)}= section.block
	%td.room= section.room
	%td.days= section.days_for_section.join('')
