%table#sections_table
	%thead
		%tr
			%th.teacher Teacher
			%th.block Block<br/><i>(Click for assignments)</i>
			%th.room Room
	%tbody
		= render partial: 'courses/section_table_row', collection: course.current_sections, as: 'section'

:coffeescript
	$(document).ready ->
		$("#sections_table").dataTable
			bFilter: false
			bInfo: false
			bPaginate: false
			bJQueryUI: true
