%li#sections
	%a{href: course_sections_pane_path(course), title: 'Sections'} Sections
%li#information
	%a{href: course_information_pane_path(course), title: 'Information'} Information
%li#resources
	%a{href: course_resources_pane_path(course), title: 'Resources'} Resources
%li#policies
	%a{href: course_policies_pane_path(course), title: 'Policies'} Policies
%li#news
	%a{href: course_news_pane_path(course), title: 'News'} News
