%meta{charset: "utf-8"}/

#page_header= @course.full_name

#page_body
	%div#tabs
		%ul
			%li#sections
				%a{href: course_sections_pane_path(@course), title: 'Sections'} Sections
			%li#information
				%a{href: course_information_pane_path(@course), title: 'Information'} Information
			%li#resources
				%a{href: course_resources_pane_path(@course), title: 'Resources'} Resources
			%li#policies
				%a{href: course_policies_pane_path(@course), title: 'Policies'} Policies
			%li#news
				%a{href: course_news_pane_path(@course), title: 'News'} News

- content_for :page_header do
	= @course.full_name


:coffeescript
	$(document).ready ->	
		$ ->
		  $("#tabs").tabs ajaxOptions:
		    error: (xhr, status, index, anchor) ->
		      $(anchor.hash).html "Couldn't load this tab. We'll try to fix this as soon as possible. " + "If this wouldn't be a demo."
