%meta{charset: "utf-8"}
#page_body
	%div#tabs
		%ul
			= render partial: 'tabs', locals: {course: @course}

- content_for :page_header do
	= @course.full_name

- content_for :page_title do
	= @course.full_name

:coffeescript
	$(document).ready ->
	  $("#tabs").tabs ajaxOptions:
	    error: (xhr, status, index, anchor) ->
	      $(anchor.hash).html "Couldn't load this tab. We'll try to fix this as soon as possible. " + "If this wouldn't be a demo."

