%table#sa-browser
	%thead
		%tr
			%th Year
			%th Course
			%th Teacher
			%th Block
			%th Date due
			%th Name
			%th Assignment
			
		/ aaSorting: [[0, 'asc'], [1, 'asc'], [2, 'asc'], [3, 'asc'], [4, 'asc']]

:coffeescript
	$("#sa-browser").dataTable
		bjQueryUI: true
		bPaginate: true
		bFilter: true
		iDisplayLength: 20
		bServerSide: true
		sAjaxSource: '/section_assignments.json'
		bSort: true
	.fnSetFilteringDelay()		
			