// Place all the styles related to the Course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http:sass-lang.com/
#sections_pane {
 	font-family: 'Noticia Text', serif;
   div {
 		&#leadin span {
 			font-size: 1em;
 		}
     &#info p {
       border-bottom-style: double;
       font-size: 1.2em; 
 			}
     &#description p, &#leadin p {
       font-size: 0.8em; 
 			} 
 		}
   th {
 		font-family: 'Belleza', sans-serif;
 		}
 	
 	td {
 		text-align: center;
 		font-family: 'Noticia Text', serif;
 		font-size: 0.8em;
 		}
 	td.teacher {
 		text-align: left;
 		padding-right: 8px;
 		padding-left: 8px;
 		}
 	td.days {
 		padding-right: 8px;
 		padding-left: 8px;
 		}
 
 	}
 
