= simple_form_for @doc, validate: false, remote: true, method: :put, html: {"data-type" => :json} do |f|
	%fieldset
		= f.input :version, as: :hidden
		.title= f.input :title, required: true
		.text= f.input :content, as: :ckeditor, label: false, input_html: {ckeditor: {resize_enabled: false, height: 380 }}
